# 1. Activate Python Environment
layout python python3

# 2. Fix your LocalStack "Account Required" issue
export LOCALSTACK_AUTH_TOKEN="ls-Xuwa5908-NATO-QElI-riYu-cESIdecef6e7"

# 3. Set dummy AWS credentials so you don't accidentally hit real AWS
export AWS_ACCESS_KEY_ID=test
export AWS_SECRET_ACCESS_KEY=test
export AWS_DEFAULT_REGION=ap-south-1